@charset "UTF-8";

#wrap{
	width:1200px;
	margin:0 auto;
}

header{
	height:160px;
}

.logo{
	height:150px;
	width:200px;
}
.title{
	height:150px;
	width:1000px;

}


.searchClothes{
	height:38px;
}

#searchInput{
	width:600px;
}

#searchBtn{
	width:100px;
}

section{
	height:1000px;
}

.main-menu{
	width:200px;
	height:800px;
}

.main-contents{
	width:1000px;
	height:800px;
}
.autoplay{
	width:900px;
	margin:0 auto;
}
.hot-product{
	width:100px;
	height:100px;
}

.input-form{
	width:300px;
}

#login-form{
	width:300px;
}

footer{
	width:1200px;
	height:100px;
	background-color:#E6FFE6;
}