@charset "UTF-8";

#wrap{
	width:1200px;
	margin:0 auto;
}

header{
	height:160px;
}

.logo{
	height:150px;
	width:200px;
}

.title{
	height:150px;
	width:1000px;

}

.searchClothes{
	height:38px;
}

#searchInput{
	width:600px;
}

#searchBtn{
	width:100px;
}

.main-menu{
	width:200px;
}

a{
	padding:20px 10px;
}

list{
	padding:0px 20px;
}
li:hover{
	background-color:#e54747;
}

.main-contents{
	width:1000px;

}

#popular-product{
	border: 1px solid;
}

.autoplay{
	width:900px;
	margin:0 auto;
}

.hot-product{
	width:100px;
	height:100px;
}

.product-text{
	height:100px;
}

.products{
	width:200px;
	height:200px;
	border:1px solid;
}

label{
	font-size:30px;
	margin:0 10px;
}

.cloth-info{
	font-size:11px;
}

.input-size{
	width:100px;
}

#product-name{
	width:300px;
}

#imagePath{
	width:654px;
}

#productPrice{
	width:120px;
}

#productDetail{
	height:150px;
	width:654px;
}
#clothDetailDetail{
	width:500px;
}

#card-info{
	width:400px;
}
#card-input{
	height:200px;
	width:400px;
}

.input-form{
	width:300px;
}

#login-form{
	width:300px;
}

footer{
	width:1200px;
	height:100px;
	background-color:#E6FFE6;
}